<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>

    <div class="container">
        <h1>Carrito Pagado</h1>
        <div class="cart-items">
            <div class="cart-item">
                <div class="cart-item-info">
                    <h3 class="cart-item-title">Producto 1</h3>
                    <p class="cart-item-price">$20.00</p>
                    <p>Cantidad: 2</p>
                </div>
            </div>
            <div class="cart-item">
                <div class="cart-item-info">
                    <h3 class="cart-item-title">Producto 2</h3>
                    <p class="cart-item-price">$15.00</p>
                    <p>Cantidad: 1</p>
                </div>
            </div>
            <div class="cart-item">
                <div class="cart-item-info">
                    <h3 class="cart-item-title">Producto 3</h3>
                    <p class="cart-item-price">$30.00</p>
                    <p>Cantidad: 3</p>
                </div>
            </div>
        </div>
        <a href="/productos" class="checkout-link">Volver a los productos</a>
    </div>

    <script src="/js/viewBuy.js"></script>

</body>

</html>