<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ordenes</title>
</head>

<body>

            <div class="cart-container">
                <h2>Orden</h2>
                <table>
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Precio</th>
                <th>Cantidad</th>
            </tr>
        </thead>
        <tbody>
            {{#each products}}
            <tr>
                <td>{{title}}</td>
                <td>{{price}}</td>
                <td>{{quantity}}</td>
            </tr>
            {{/each}}
        </tbody>

    </table>
            </div>

            <div id="buy-container" class="cart-summary">
                <h3>Total orden</h3>
                <p id="final-amount">{{amount}}</p>
            </div>

        </div>
    </div>

    <script src="/js/viewPurchase.js"></script>

</body>

</html>