<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>

    <div class="container">
        <h1>Resumen de tu compra</h1>
        <div class="cart-items">
            {{#each carts}}
            <div class="cart-item">
                <div class="cart-item-info">
                    <h3 class="cart-item-title">{{title}}</h3>
                    <p class="cart-item-price">${{price}}</p>
                    <p>Cantidad: {{quantity}}</p>
                </div>
            </div>
            {{/each}}
        </div>
        <a href="/productos" class="checkout-link">Volver a los productos</a>
    </div>

    <script src="/js/viewPurchase.js"></script>

</body>

</html>