<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Carrito</title>
</head>

<body>

            <div class="cart-container">
                <h2>Carrito de Compras</h2>
                <div class="cart-items">
                    {{#each carts}}
                    <div class="cart-item">
                        <div class="cart-item-info">
                            <h3 class="cart-item-title">{{this.title}}</h3>
                            <p class="cart-item-price">{{this.price}}</p>
                            <p>Cantidad: {{this.quantity}}</p>
                        </div>
                        <button class="remove-item">Eliminar</button>
                    </div>
                    {{/each}}
                </div>
            </div>

            <div class="cart-summary">
                <h3>Resumen del Carrito</h3>
                <p>{{amount}}</p>
                <button class="checkout-button">Pagar</button>
            </div>

        </div>
    </div>

    <script src="/js/viewCarts.js"></script>

</body>

</html>